.outer{
    margin-left: 20vw;
}
.details{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}
@media (max-width: 430px) {
    .outer{
        margin-left: 5vw;
        overflow-x: hidden;
    }
    .details{
        margin-left: 8vw;
        max-width: 80vw;
    }
}