.name{
    margin-left: 20vw;
}
.outerDiv, .darkOuterDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    max-width: 80vw;
}
.darkerElement, .element{
    border: 1px solid #333;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    margin-left: 20vw;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    text-align: center;
}
.darkerElement:hover, .element:hover{
    opacity: 0.4;
}
.projectList, .darkProjectList{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.darkProjectList{
    color: white;
}
.projectDescription{
    width: 20vw;
}
@media (max-width: 430px) {
    .name{
        margin-left: 5vw;
        overflow-x: hidden;
    }
    .outerDiv, .darkOuterDiv{
        gap: 20px;
        max-width: 95vw;
    }
    .element, .darkerElement{
        margin-left: 5vw;
    }
    .projectDescription{
        width: 60vw;
    }
    .element:hover, .darkerElement:hover{
        opacity: 1;
    }
}