.link{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.linkText{
    text-decoration: none;
    background-color: #f1eeee;
    color: rgb(37, 37, 37);
    padding: 15px;
    border-radius: 9px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;  
}
.linkText:hover{
    opacity: 0.5;
}