.text{
    margin-left: 20vw;
}
.skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.C{
    height: 90px;
}
.darkFlask{
    height: 125px;
    width: 120px;
}