.text {
    margin-left: 20vw;
}
.socials {
    padding: 30px;
    max-width: 56vw;
    margin-left: 20vw;
    display: flex;
    justify-content: space-between;
}
.firstLink, .secondLink, .thirdLink,
.firstDarkLink, .secondDarkLink, .thirdDarkLink{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 30%;
    opacity: 0.5;
    transition: opacity 0.4s ease-in-out;
}
.firstLink:hover, .secondLink:hover, .thirdLink:hover,
.firstDarkLink:hover, .secondDarkLink:hover, .thirdDarkLink:hover{
    opacity: 1;
}
.githubLight{
    height: 90px;
}
.firstLink, .firstDarkLink,
.secondLink, .secondDarkLink,
.thirdLink, .thirdDarkLink{
    position: relative;
}
.xtitle,
.gitTitle,
.linked{
    position: absolute;
    top: -10px;
    right: -45px;
    background-color: rgb(240, 240, 240);
    color: black;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s ease-in-out, opacity .2s ease-in-out;
}
.xtitle{
    right: -45px;
}
.linked{
    right: -52px;
}
.firstLink:hover .xtitle,
.firstDarkLink:hover .xtitle,
.secondLink:hover .gitTitle,
.secondDarkLink:hover .gitTitle,
.thirdLink:hover .linked,
.thirdDarkLink:hover .linked{
    opacity: 1;
    visibility: visible;
}
@media (max-width: 430px) {
    .text{
        margin-left: 5vw;
    }
    .socials{
        margin: 0;
        padding: 0;
        height: 5vh;
        width: 60vw;
        margin-left: 15vw;
        max-width: 100vw;
        margin-bottom: 10px;
    }
    .firstLink, .secondLink, .thirdLink,
    .firstDarkLink, .secondDarkLink, .thirdDarkLink{
        opacity: 1;
        height: 5vh
    }
    .lightTwitter, .lightGithub, .lightLinked,
    .xerr, .githubLight, .lightLinked{
        height: 40px;
        width: 40px;
    }
}