.text {
    margin-left: 20vw;
}
.socials {
    padding: 30px;
    max-width: 60vw;
    margin-left: 16vw;
    display: flex;
    justify-content: space-around;
}
.darkLink, .link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 30%;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}
.darkLink:hover, .link:hover{
    opacity: 0.5;
}
.darkLink::before, .link::before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    z-index: -1;
}
.githubLight{
    height: 90px;
}