/* .head{
    border: 2px solid #000;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 10px;
} */
 .head{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.more{
    display: flex;
    width: 80vw;
    text-align: center;
}