.light {
    background-color: white;
    color: black;
}
.dark {
    background-color: black;
    color: white;
}
.image {
    background-color: black;
    color: black;
}
:global(html), :global(body) {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Gowun Batang', sans-serif;
}
.intro {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 248);
    transition: opacity 3s ease-in-out;
    text-align: center;
    z-index: 5000;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    cursor: pointer;
}
.responsiveSvg {
    width: 100%;
    height: 90%;
}
.introHide {
    opacity: 0;
    pointer-events: none;
}
.text {
    font-size: 30px;
    stroke-width: 0.5;
    letter-spacing: 3px;
    fill: darkgrey;
}
.textBody {
    animation: animate-stroke 6s;
}
@keyframes animate-stroke {
    0% {
        fill: transparent;
        stroke: darkgrey;
        stroke-width: 1.5;
        stroke-dashoffset: -5%;
        stroke-dasharray: 0 100%;
    }
    50% {
        fill: transparent;
        stroke: darkgrey;
        stroke-width: 1.5;
    }
    90%{
        fill: transparent;
        stroke: darkgrey;
        stroke-width: 0.5;
        stroke-dashoffset: 105%;
        stroke-dasharray: 120% 0;
    }
    100%{
        fill: darkgrey;
        stroke: transparent;
        stroke-width: 0;
    }
}