.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}
.image{
    background-color: black;
    color: black;
}
html, body{
    width: 100%;
    overflow-x: hidden;
    font-family: 'Gowun Batang', sans-serif;
}