.name{
    padding: 30px;
}
.outerDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.element{
    border: 1px solid #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 25vw;
    border-radius: 10px;
}
.projectList{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.element:hover{
    background-color: #f8efef;
}